// georgia-colors
$bg-color: RGB(50, 54, 57);
$menu-bg: RGB(23, 23, 23);
$progress-bar: RGB(23, 22, 25);
$now-playing: RGB(255, 255, 255); // tracknumber, title, and time
$shadow: RGBA(128, 128, 128, 54);