$header-height: 60px; // guaranteed to be this height regardless of padding
$extended-header-bg-height: 100px;
$progress-bar-height: 1.5rem;
$progress-bar-time-font-size: 2rem;

$playlist-width: 65vw;

$pl-slider-height: 36px;
$pl-header-height: 20px;
$pl-row-height: 20px;

// cells
$pl-track-w: 70px;
$pl-playcount-w: 25px;
$pl-rating-w: 85px;
$pl-length-w: 50px;

// timeline
$timeline-height: 1.25rem;